@model IEnumerable<ClassBackendBotanica.Encomenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Listas de encomentas</h1>

<p>
    <a asp-action="Create">Nova encomenda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEncomenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilizadorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtigoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEncomenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilizadorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtigoId)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id  }) |
                    @Html.ActionLink("Detalhes", "Details", new { id=item.Id  }) |
                    @Html.ActionLink("Apagar", "Delete", new { id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
