@model IEnumerable<BotanicaFrontEnd.Models.Desafio>

@{
    ViewData["Title"] = "Index";

}

<h2 class="text-uppercase text-center">Lista das suas Respostas</h2>






<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mensagem</th>
            <th>Autor</th>
            <th>Modificada</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Mensagem</td>
                <td>@data.Autor</td>
                <td>@data.Modified </td>
                
            </tr>
        }
    </tbody>
</table>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-uppercase text-center">Respostas correctas</h2>






<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mensagem</th>
            <th>Autor</th>
            <th>Modificada</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in ViewData["Enviadas"] as IEnumerable<BotanicaFrontEnd.Models.Desafio>)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Mensagem</td>
                <td>@data.Autor</td>
                <td>@data.Modified </td>
                
            </tr>
        }
    </tbody>
</table>
<br/>
<a asp-action="Index">Tentar nova resposta</a>